body{
	background: #ccc;
	font-family: 'Actor', sans-serif;
	padding: 20px;
	}

header{
	background-color: #036;	
	padding: 15px 25px;	
	}

header h1{
	font-size: 40px;
	color: #ccc;
	}

.right {
	float: right;
	display: inline;
	width: 48.4%;
	padding-left: 0px;
	list-style: none;
}	
 
.left {
	float: left;
	width: 48.4%;
	display: inline;
}
/*------------cards------------------ */ 

.card {
	background-color: #369;		
	margin-top: 10px;	
	padding: 10px;
	height: 270px;	
	}

.card img {
	width: 200px;
	height: 200px;
	float: left;
	padding: 30px;	
	}

.card h1{
	color: #ccc;
	font-size: 35px;
	padding-bottom: 10px;
	
}
.card h3 {
	color: #333;
	padding-top: 0px;	
}

.foundicon-mail, .foundicon-phone a {
	color: #d5a725;	
}

.foundicon-twitter, .foundicon-facebook, .foundicon-linkedin, .foundicon-google-plus,{
	color: white;
	font-size: 20px;	
	border: none;
	padding-top: 25px;
	}

.social {	
	color: white;
	text-decoration: none;
	}

.erica{
	color: #d5a725;
	}

.card .mail a {
	font-size: 20px;
	padding-left: 10px;	
	text-decoration: none;
	}

.card a {
	text-decoration: none;
	}

.card a:hover{
	color: #ffdead;
	}
/*--------Social Buttons -------------*/

.buttons {
	list-style: none;
	display: in
}

.buttons a:hover {
	border: 1px solid white;
	}

.button1 {	
	float: left;
	background: #23476a;
	height: 40px;
	width: 13%px;	
	padding-right: 1%;
	text-align: center;	
	border-radius: 5px;
	margin: 0px 5px;	
	width: 70px;
	}

.button2{
	float: left;
	font-size: 20px;
	color: white;	
	background: #00abf0;	
	height: 40px;
	width: 13%px;
	padding-right: 1%;
	text-align: center;
	margin: 0px 5px;
	border-radius: 5px;
	width: 70px;
	}

.button3{
	float: left;
	font-size: 20px;
	color: white;
	background: #a92a24;
	border-radius: 5px;	
	height: 40px;
	width: 13%px;
	padding-right: 1%; 
	text-align: center;
	margin: 0px 5px;
	width: 70px;
	}

.button4{
	float: left;
	font-size: 20px;
	color: white;
	background: black;	
	text-align: center;
	height: 40px;
	width: 13%;
	border-radius: 5px;
	
	margin: 0px 5px;
	}

.button1:hover, .button2:hover, .button3:hover, .button4:hover {	
	
	border: 1px solid white;
	}


/*---------Hobbies -----------*/ 
.background{
	list-style: none;
	padding-left: 0px;
}
.hobbies {
	font-size: 25px;
	color: #ccc;	
	background: #369;
	list-style: none;
	padding: 15px 30px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ccc;
	clear: both;
	}

.hobbies li{
	list-style: none ;
}
	
	
/*-------------video------------------*/

.vid h2{
	font-size: 25px;
	color: #ccc;
	text-align: center;
}
.vid{
	background: #369;	
	padding: 15px 30px;
	border-bottom: 2px solid #ccc;
}
video {
	width: 100%;
	height: auto;
}

/*-----form --------*/
.education {	
	background: #369;
	padding: 15px 30px;
	border-bottom: 2px solid #ccc; 

	}
#dropdown{
	width: 50%;
	padding-left: 20px;
}	
.education label{
	font-size: 19px;
}
.education p{
	margin-left: 100px;
}

/*ap {
	padding: 15px;
	margin-left: 25px;
	margin-right: 10px;
}
*/

textarea {
	width: 90%;
	height: 60px;
	margin-left: 20px;
	}

#ok {
	margin: auto;
	width: 25%;
	display: block;
	}	

/*--------profile boxes-------*/	
.margin {
	margin-top: -240px;
}

 .margin2 {
	margin-top: -230px;
}	

.margin3{
	margin-top: -160px;
	
}

/*----- quote ------ */ 
.picture {
	background: url(../images/leaf.jpg);
	background-repeat: no-repeat;	
	height: 200px;
	margin-bottom: 10px;
	}

.text{
	letter-spacing: -1px;
	color: white;
	font-size: 28px;
	width: 300px;
	background-color: rgba(0,0,0, .5);
	margin-left: 160px;
	position: absolute;
	
	}	
/*-------- ---------------------*/ 
footer {
	text-align: right;
	background: #036;
	color: #ccc;
	padding: 15px;
	margin-top: 20px;
	padding-top: 20px;
	clear:both;
	}