body{
	background: #ccc;
	font-family: 'Actor', sans-serif;
	padding: 20px;	
}

header{
	background-color: #036;	
	padding: 15px 25px;	
}
header h1{
	font-size: 40px;
	color: #ccc;
}

/*
TODO:
Float with display inline is usually wrong. You do not need both.
You probably need to change this css if you refactor the markup
a bit.
 */
.colleagues{
	float: right;
	display: inline;

	/*
	TODO:
	Why do u need 49% here?
	As a rule try to avoid number like this (i have seen thse numbers called
	'magic numbers' because they magically work)
	Again i think if you just clean up the markup of the card your css will
	be much simpler
	 */
	width: 49%;
	padding-left: 0px;
	display: inline;
	list-style: none;
	margin-top: 0px;
}	
 
.myinfo {
	float: left;
	width: 49%;
	display: inline;
}
/*------------cards------------------ */ 

.card {
	background-color: #369;		
	margin-top: 10px;
	margin-bottom: 35px;	
	padding: 10px;		
	overflow: hidden;
}

.card img {
	width: 200px;
	height: 200px;
	float: left;
	padding: 30px;	
}
.card h1{
	color: #ccc;
	font-size: 35px;
	padding-bottom: 10px;
}
.card h3 {
	color: #333;
	padding-top: 0px;	
}

.foundicon-mail, .foundicon-phone a {
	color: #d5a725;	
}
.icon {
	color: #d5a725;
}

.card .mail a {
	font-size: 20px;
	padding-left: 10px;	
	text-decoration: none;
}

.card a {
	text-decoration: none;
}
.card a:hover{
	color: #ffdead;
}
/*--------Social Buttons -------------*/

.buttons {
	list-style: none;
}
.foundicon-twitter, .foundicon-facebook, .foundicon-linkedin, .foundicon-google-plus {
	color: white;
	font-size: 20px;	
	border: none;	
	padding-top: 25px;
}

.buttons li{
	padding-top: 5px;
}	

.social {	
	color: white;
	text-decoration: none;
}
.facebook, .twitter, .google, .linkedin{
	float: left;
	color: white;		
	text-align: center;	
	border-radius: 5px;
	margin: 0px 5px;	
	width: 70px;
	height: 40px;
	font-size: 20px;
}

.buttons a {
	padding-top: 10px;
	padding-bottom: -10px;
	}

.facebook {	
	background: #23476a;		
	padding-right: 1%;		
}

.twitter {	
	background: #00abf0;		
	padding-right: 1%;	
}

.google {
	background: #a92a24;	
	padding-right: 1%; 
}

.linkedin{
	background: black;		
}

.facebook:hover, .twitter:hover, .google:hover, .linkedin:hover {		
	border: 1px solid white;
}


/*---------Hobbies -----------*/ 
.background li {
	list-style: none;
	padding-left: 0px;
}
.hobbies {
	font-size: 25px;
	color: #ccc;	
	background: #369;
	list-style: none;
	padding: 15px 30px;
	border-bottom: 2px solid #ccc;
	clear: both;
}

.hobbies li{
	list-style: none ;
}
/*-------------video------------------*/
.vid h2{
	font-size: 25px;
	color: #ccc;
	text-align: center;
}

.vid{
	background: #369;	
	padding: 15px 30px;
	border-bottom: 2px solid #ccc;
	list-style: none;
}

video {
	width: 100%;
	height: auto;
}

/*-----form --------*/
.education {	
	background: #369;
	padding: 15px 30px;
	border-bottom: 2px solid #ccc; 
	list-style: none;
}
form h1 {
	font-size: 22px;
	color: #ccc;	
}	
/*
As a rule use css classes and not ids for styling
We put ids to elements usually for JS reasons.
A class is what you should use for styling :-)
 */
#dropdown{
	width: 50%;
	padding-left: 20px;
}	
.education label{
	font-size: 19px;
}
.education p{
	margin-left: 100px;
}
.checkboxes{
	width: 90%;
	padding-left: 5%;
	margin-bottom: 20px;
	margin-top: 10px;
}

textarea {
	width: 90%;
	height: 60px;
	margin-left: 20px;
}
/*
As a rule use css classes and not ids for styling
We put ids to elements usually for JS reasons.
A class is what you should use for styling :-)
 */
#ok {
	margin: auto;
	width: 25%;
	display: block;
}	

/*----- quote ------ */ 
.picture {
	background: url(../images/leaf.jpg);
	background-repeat: no-repeat;	
	height: 200px;
	padding: 15px 30px;
	border-bottom: 2px solid #ccc;
}

.text{
	letter-spacing: -1px;
	color: white;
	font-size: 28px;
	width: 20%;
	background-color: rgba(0,0,0, .5);
	margin-left: 160px;
	position: absolute;	
}	
/*-----------------------------*/ 
footer {
	margin-top: 0px;
	text-align: right;
	background: #036;
	color: #ccc;	
	clear: both;
	padding: 15px;
}
